body{
    background-color: blueviolet;
    font-size:80px;
    background-image: url("../images/nature.jpeg");
    background-size:cover;
    /* background-position:center; */
    background-repeat: no-repeat;
}