div{
    display:flex;
    justify-content:center;
    font-size:30px;
    color:white;
    align-items:center;
    /* height:500px;
    width:500px; */
}
.linear{
    height:300px;
    background: linear-gradient(blue ,red, green, yellow);
}
.radial{
    height:700px;
    background: radial-gradient(circle,blue, white);
}
.conic{
    height:700px;
    background: conic-gradient(from 90deg, pink, black);
}