.para1{
    border:5px solid blueviolet;
}
.para2{
    border:5px solid red;
    padding:10px;
    margin:50px;
}
.para3{
    border:5px solid black;
    /* padding-left:10px;
    padding-right:40px;
    padding-top:10px;
    padding-bottom:40px; */
    padding:40px 20px 40px 20px;

     /* margin-left:20px;
    margin-right:20px */
    margin:30px 50px 30px 50px;
}
.b_prop{
    border:20px double blueviolet;
    padding:50px;
    margin:60px;
}
