@media only screen and (min-width:320px) and (max-width:767px){
    body{
        background-color:orange;
        font-size: 20px;
        background:red;
    }
    p{
        font-size: 20px;
    }
    h1{
        color:black;
        font-size: 30px;
    }
    h3{
        color:aqua
    }
}
@media(min-width:750) and (max-width:980){
    body{
        background-color:blue;
        font-size:30px;

    }
    p{
        color:red
    }
    h1{
        color:black;
        font-size: 30px;
    }
    h3{
        color:aqua
    }
}