.Hall{
    position:relative;
    height:350px;
    width:350px;
    background-color:black;
    top:30px;
    left:100px;
}
#tv{
    position:absolute;
    height:50px;
    width:150px;
    background-color: yellow;
    left: 90px;
}
#sofa{
    position:absolute;
    height:80px;
    width: 200px;
    background-color:red;
    left:100px;
    top:100px
}
#fridge{
    position:absolute;
    height:150px;
    width:80px;
    background-color:blueviolet;
    right:20px;
    bottom:10px;
}