div{
    width:200px;
    height:200px;
    background-color: rgb(218, 100, 120);
    position: relative;
    -webkit-animation: moving;
    animation: moving;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
     -webkit-animation-delay: 2s;
    animation-delay: 2s; 
    -webkit-animation-direction: alternate; 
    animation-direction: alternate;
    animation-iteration-count: 2;
}
/* @keyframes moving{
    0%{background-color: red;left:0px;top:0px}
    25%{background-color: yellow;left:300px;top:0px}
    50%{background-color: green;left:300px;top:300px}
    75%{background-color: blue;left:0px;top:300px}
    100%{background-color:  red;left:0px;top:0px}
} */
@keyframes moving{
   0%{background-image: url("../images/Teddybear.jpg"); left: 0px;top:0px
    25%{background-image: ;left:300px;top:0px}
    50%{background-image: ;left:300px;top:300px}
    75%{background-image: ;left:0px;top:300px}
    100%{background-image: ;left:0px;top:0px}
}