.t_transform_upper{
    text-transform: uppercase;
}
.t_transform_lower{
    text-transform: lowercase;
}
.t_transform_capitalize{
    text-transform: capitalize;
}
.t_right{
    text-align: right;
}
.t_left{
    text-align: left;
}
.t_centre{
    text-align: center;
}
.t_line{
    text-decoration: line-through;
}
.t_under{
    text-decoration: underline;
}

.t_decor_over{
    text-decoration: overline;
}
.t_indent{
    text-indent:100px ;
}
.letter_space{
     letter-spacing: 10px;
}
.word_space{
     word-spacing: 20px;
}
.line_height{
    line-height: 40px;
}
.t_shadow{
    color: yellowgreen;
    text-shadow: 10px 0dvb 3px hsl(9, 57%, 44%);
    font-size: 120px;
    text-align: center;
}
.t_shadow1{
    color: rgb(218, 46, 86);
    text-shadow: 10px 0dvb 3px #b05630b2;
    font-size: 120px;
    text-align: center;

}
.t_shadow2{
    color: hsl(177, 70%, 52%);
    text-shadow: 10px 0dvb 3px hsl(219, 57%, 64%);
    font-size: 120px;
    text-align: center;

}
.b_shadow{
    box-shadow: 15px 10px 20px black;
}
.img_ratio{
    width: 700px;
    height: 500px;
}
.d_shadow{
    filter: drop-shadow(3px 5px 10px rgb(77, 16, 220));
}




