.t_transform_upper{
    text-transform: uppercase;
}
.t_transform_lower{
    text-transform: lowercase;
}
.t_transform_capitalize{
    text-transform: capitalize;
}
.t_right{
    text-align: right;
}
.t_right{
    text-align: left;
}
.t_{
    text-align: center;
}
.t_line{
    text-decoration: line-through;
}
.t_under{
    text-decoration: underline;
}

.t_decor_over{
    text-decoration: overline;
}
.t_indent{
    text-indent:100px ;
}
.letter_space{
     letter-spacing: 10px;
}
.word_space{
     word-spacing: 20px;
}
.line_height{
    line-height: 40px;
}
.t_shadow{
    color: lab(47.5% 70.16 53.4);
    text-shadow: 10px 0dvb 3px hsl(16, 57%, 44%);
    font-size: 120px;
    text-align: center;
}
.t_shadow1{
    color: rgb(218, 46, 86);
    text-shadow: 10px 0dvb 3px #b05630b2;
    font-size: 120px;
    text-align: center;

}
.t_shadow2{
    color: hsl(177, 70%, 52%);
    text-shadow: 10px 0dvb 3px hsl(219, 57%, 64%);
    font-size: 120px;
    text-align: center;

}




